## Ignore Visual Studio temporary files, build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*

# Local files
learning_model.json
*.pdf
temp/
ProjectEstimator/wwwroot/appsettings.json
ProjectEstimator/appsettings.Development.json
/ProjectEstimator/appsettings.json
/ProjectEstimator/wwwroot/appsettings.json
/ProjectEstimator/wwwroot/appsettings.json
/ProjectEstimator/appsettings.json
